<!DOCTYPE html>
<html lang="en" th:replace="layouts/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="container mt-5">
        <h1 class="text-center">Welcome Spring Security</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam, asperiores dicta facere inventore labore, mollitia perferendis reiciendis, rem reprehenderit repudiandae sit unde veritatis! Accusantium dolorem dolores id odit voluptatibus.</p>
    </div>
</main>

</body>
</html>